--title 'IP Access Control for Ruby'
--protected
--readme README.md
--no-private
--hide-void-return
--embed-mixin ClassMethods
--asset docs/images:images
-p docs/yard-tpl
-t default
-
docs/HISTORY
ChangeLog
docs/COPYING
docs/LGPL
docs/img_view.md
docs/img_ac_for_args.md
docs/img_ac_for_socket.md
docs/img_setup_origin.md
docs/img_setup_origin_tab.md
