--title 'IP Access Control for Ruby'
--protected
--readme README.md
--no-private
--hide-void-return
--embed-mixin ClassMethods
--asset docs/images:images
-p docs/yard-tpl
-t default
-
docs/HISTORY
ChangeLog
docs/COPYING
docs/LGPL
